

    h1 {
      margin-bottom: 20px;
      font-size: 22px;
    }

    label {
      display: block;
      margin-top: 15px;
      text-align: left;
      font-size: 14px;
    }

    input, select {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border-radius: 12px;
      border: 1px solid rgba(255,255,255,0.2);
      background: rgba(255,255,255,0.12);
      color: #fff;
      font-size: 14px;
    }


.status {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: rgba(255,255,255,0.9);
  text-transform: uppercase;
}
#timer {
  font-size: 52px;
  font-weight: 600;
}

